In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
data = pd.read_csv('/content/drive/MyDrive/Classroom/jokes-data.csv')

In [25]:
data.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [26]:
data.isna().sum()

id         0
user_id    0
joke_id    0
Rating     0
dtype: int64

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092059 entries, 0 to 1092058
Data columns (total 4 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   id       1092059 non-null  object
 1   user_id  1092059 non-null  int64
 2   joke_id  1092059 non-null  int64
 3   Rating   1092059 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 33.3+ MB

In [28]:
data.nunique()

id         1092059
user_id      40863
joke_id        139
Rating         641
dtype: int64

In [29]:

data = data.drop('id', axis=1)

In [30]:
data

         user_id  joke_id  Rating
0          31030      110   2.750
1          16144      109   5.094
2          23098        6  -6.438
3          14273       86   4.406
4          18419      134   9.375
...          ...      ...     ...
1092054     9517      132   3.156
1092055    27767      118  -1.594
1092056    10580       81   2.000
1092057    31007      119   8.906
1092058     8420       98  -3.344

[1092059 rows x 3 columns]

In [31]:
data.nunique()

user_id    40863
joke_id      139
Rating       641
dtype: int64

In [32]:
 columns_to_check = ['joke_id', 'Rating']
 data = data.drop_duplicates(subset=columns_to_check, keep='first')

 #data.drop_duplicates()

In [33]:
data.shape

(82572, 3)

In [34]:
desired_size = 50000  # Adjust this value as per your requirement

# Randomly sample the dataset
reduced_dataset = data.sample(n=desired_size, random_state=42)

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)

In [37]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [38]:
reader = Reader()

In [39]:
joke_data = Dataset.load_from_df(reduced_dataset, reader)

In [40]:
algo = KNNBasic()

In [41]:
from surprise.model_selection import cross_validate

In [42]:
cross_validate(algo, joke_data, measures = ["RMSE"], cv = 5, verbose = True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    5.8811  5.8232  5.8563  5.9017  5.7597  5.8444  0.0498
Fit time          11.39   10.33   9.91    9.49    9.96    10.22   0.64
Test time         6.05    1.87    2.56    2.81    2.22    3.10    1.51

{'test_rmse': array([5.8810999 , 5.82321915, 5.8562659 , 5.90165631, 5.7597255 ]),
 'fit_time': (11.388872385025024,
  10.330391645431519,
  9.914329528808594,
  9.493438482284546,
  9.955702066421509),
 'test_time': (6.054525375366211,
  1.8707292079925537,
  2.5622329711914062,
  2.8080852031707764,
  2.2160801887512207)}